[Unit]

Description=MonitoringBot
After=multi-user.target

[Service]

Type=idle
ExecStart=/usr/bin/python3 /root/monitor_bot/monitor_bot.py
Restart=always

[Install]

WantedBy=multi-user.target
